.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-indent: 50px;
  letter-spacing: 7px;
  text-shadow: 2px 2px 5px yellow;
  background-image: url("https://miro.medium.com/max/1400/1*h8gLX9aXdgViN0HdyQaP5g.png");
  background-position: bottom right;


}
div {
  background-image: url("https://miro.medium.com/max/1400/1*h8gLX9aXdgViN0HdyQaP5g.png");
}

div {
  background-image: url("https://miro.medium.com/max/1400/1*h8gLX9aXdgViN0HdyQaP5g.png");
  background-position: bottom right;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-image: url("https://miro.medium.com/max/1400/1*h8gLX9aXdgViN0HdyQaP5g.png");

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://miro.medium.com/max/1400/1*h8gLX9aXdgViN0HdyQaP5g.png");

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

